.main_block {
  width: 100%;
  height: 100vh;

  display: flex;

  margin: 16px 20px;
}

.chap_list {
  min-width: 258px;
  max-width: 258px;

  padding: 26px 0;

  overflow-y: auto;
  overflow-x: hidden;
}

.chap_element {
  width: 100%;
  max-width: 100%;
  padding: 10px 12px;
  margin: 10px 0;
  background: #f7f0e681;

  border-radius: 20px 0 0 20px;

  font-size: 18px;
  font-weight: 600;

  white-space: nowrap;
  /* одна строка */
  overflow: hidden;
  /* скрыть лишнее */
  text-overflow: clip;
  /* обрезать текст */

  position: relative;
  /* для градиента */
  cursor: pointer;
}

.chap_element::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  background: linear-gradient(to right,
      rgba(247, 240, 230, 0) 0%,
      rgba(247, 240, 230, 1) 100%);
  pointer-events: none;
}

/* Активная глава */
.active {
  color: #E57222;
  white-space: normal;
  /* разрешить тексту переноситься */
  overflow: visible;

  background: #f7f0e6;
}

/* убрать градиент */
.active::after {
  display: none;
}