.container {
  width: 100%;
  min-height: 65px;
  height: auto;
  background: #F7F0E6;

  padding: 1.1rem 2rem;

  /* фон справа, по центру */
  background-image: url("/icons/bird_icon_nobg.svg");
  background-repeat: no-repeat;
  background-position: right 2rem top;
  /* смещение справа */
  background-size: 80px auto;
  /* размер иконки */
}

.home_btn {
  display: flex;
  align-items: center;

  font-size: 25px;
  font-weight: 500;
}